{% extends 'base.html' %}
{% load static %}

{% block title %}Secure Checkout - Preform{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'customer/styles/checkout.css' %}">
{% endblock %}

{% block content %}
  <main>
    <div class="checkout-container flex flex-col md:flex-row">

      <div class="card w-full md:w-2/3 items-center">

        <div class="flex flex-col justify-between h-screen p-6 w-full max-w-xl">
          <div role="tablist" class="tabs tabs-border flex flex-row justify-center">
            <a id="customer-tab-nav" role="tab" class="tab tab-active text-lg">Customer</a>
            <a id="shipping-tab-nav" role="tab" class="tab text-lg">Shipping</a>
            <a id="billing-tab-nav" role="tab" class="tab text-lg">Billing</a>
          </div>

          <!-- THIS IS THE CHECKOUT FORM - INCLUDES STEPS, INPUTS, AND VALIDATORS -->
          {% block checkout_form %}
            {% include 'client/components/customer/checkout-form/form.html' %}
          {% endblock %}
          
          <button id="checkout-btn" class="btn btn-neutral btn-lg w-auto mx-4" form="checkout-form" type="submit" disabled>Complete Payment</button>
        </div>

        <!-- Displays the result of the transaction -->
        <div id="result"></div>
      </div>

      {% block summary %}
        {% include 'client/components/customer/checkout-form/summary.html' %}
      {% endblock %}

    </div>
  </main>
{% endblock %}

{% block extra_scripts %}
    <script type="module" src="{% static 'customer/scripts/checkout.js' %}"></script>
    <script type="module" src="{% static 'customer/scripts/gateway.js' %}"></script>
{% endblock %}
