{% extends 'base.html' %}
{% load static %}

{% block title %}Gallery{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'customer/styles/gallery.css' %}">
{% endblock %}

{% block content %}

    {% block nav %}
        {% include 'client/components/customer/nav/nav.html' with slug=artisan.slug %} 
    {% endblock nav %}
    <main>
        <section id="gallery-section">
            <h2 class="section-title">Gallery</h2>
            <p class="section-description">A glimpse into our handcrafted instruments — each one a singular expression of care, detail, and acoustic excellence.</p>

            <div class="gallery-masonry"></div>
        </section>
    </main>
    {% block footer %}
        {% include 'client/components/customer/footer/footer.html' with slug=artisan.slug %}
    {% endblock footer %}

{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'customer/scripts/gallery.js' %}"></script>
{% endblock %}

