{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block extra_head %}
{% endblock %}

{% block content %}

    {% block nav %}
        {% include 'client/components/customer/nav/nav.html' with slug=artisan.slug %}
    {% endblock nav %}

    <main class="space-y-12 flex flex-col items-center">

        <div id="home-hero-section" class="hero min-h-screen">
        <div class="hero-overlay"></div>
        <div class="hero-content text-neutral-content text-center">
            <div class="max-w-md">
            <h1 id="hero-merchant-name" class="hero-merchant-name mb-5 text-7xl font-bold"></h1>
            <p id="hero-sentence-cta" class="mb-5">
            </p>
            <button class="hero-cta-btn btn btn-xl btn-wide btn-square transform transition hover:bg-amber-300">Shop Now</button>
            </div>
        </div>
        </div>

        <!-- Products Section -->
        <h2 class="subsection-header text-5xl font-semibold text-center">Featured Works</h2>
        <p class="subsection-text text-xl font-normal italic text-center max-w-3/4 lg:max-w-1/2">
            See the beauty of modern creativity at work. Our artists pour 
            love, soul, and passion into each work to ensure that no piece 
            matches another.
        </p>
        
        <div id="product-carousel" class="flex flex-row w-full overflow-x-auto"></div>

    </main>

    {% block footer %}
        {% include 'client/components/customer/footer/footer.html' with slug=artisan.slug %}
    {% endblock footer %}

{% endblock %}

{% block extra_scripts %}
    {% include 'client/components/toast-notif/toast.html' %}
    <script src="{% static 'customer/scripts/home.js' %}"></script>
{% endblock %}
