{% extends 'base.html' %}
{% load static %}

{% block title %}Item{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'customer/styles/item.css' %}">
{% endblock %}

{% block content %}

    {% block nav %}
        {% include 'client/components/customer/nav/nav.html' with slug=artisan.slug %} 
    {% endblock nav %}
    <main data-item-id="{{ item.id }}" style="display: flex; flex-direction: column; align-items: center;">
      <div class="cross-bar" style="display: flex; flex-direction: row; width: 80%; justify-content: flex-start; margin-bottom: 1rem;">
        <div class="back-button" style="display: flex; flex-direction: row; align-items: center; gap: .5rem;">
          <img src="/media/icons/active/arrow_back.png" alt="back arrow" style="width: 16px; height: 16px;">
          <h3 style="color: white; margin: 0; font-size: 12pt;">Return to Shop</h3>
        </div>
      </div>
      <div class="item-main-section" style="display: flex; flex-direction: row; flex-wrap: wrap; gap: 2rem; justify-content: center;">
        <div class="item-photos-section">
          <img class="item-photos-main" style="width: 20rem; height: fit-content; object-fit: cover;">
          <div class="item-photos-multi" style="display: flex; flex-direction: column; height: 100%; overflow-y: scroll;"></div>
        </div>
        <div class="item-details-section" style="display: flex; flex-direction: column; gap: .8rem;">
          <h2 class="product-title" style="color: white; margin: 0; width: fit-content;"></h2>
          <h4 class="product-category" style="color: #8D8D8D; margin: 0;"></h4>
          <h3 class="product-price" style="color: white; margin: 0;"></h3>
          <div style="display: flex;" class="quantity-cart-section">
            <div class="number-input-container"><button class="number-btn minus">-</button><input type="number" class="number-input" id="numberInput" value="1" min="0" max="999"><button class="number-btn plus">+</button></div>
            <button class="add-to-cart-button" style="border: none; background-color: rgb(223, 223, 223); color: black; padding: .5rem 4rem; width: fit-content;">Add to Cart</button>
          </div>
          <h4 class="product-description-header" style="margin: 0; color: #8D8D8D;">Description</h4>
          <p class="product-description-body" style="color: white; margin: 0; font-size: 12pt; max-width: 500px;"></p>
        </div>
      </div>
    </main>
    {% block footer %}
        {% include 'client/components/customer/footer/footer.html' with slug=artisan.slug %}
    {% endblock footer %}

{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'customer/scripts/item.js' %}"></script>
{% endblock %}