{% extends 'base.html' %}
{% load static %}

{% block title %}Success{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'customer/checkout/success.css' %}">
{% endblock %}

{% block content %}

  <!-- NAV -->
  {% block nav %}
    {% include 'client/components/nav/nav.html' with slug=artisan.slug %}
  {% endblock nav %}
    
  <!-- Page content -->
  <main>
    <div class="success-message">
      <h1>Thank You!</h1>
      <p>Your order has been successfully placed. You will receive updates about your order status via email in the next few days.</p>
      <a href="{% url 'shop' artisan.slug %}">Return to Shop</a>
    </div>
  </main>

  <!-- FOOTER -->
  {% block footer %}
    {% include 'client/components/footer/footer.html' with slug=artisan.slug %}
  {% endblock footer %}

{% endblock %}

