{% extends 'base.html' %}
{% load static %}

{% block title %}Policies{% endblock %}

{% block extra_head %}
{% endblock %}

{% block content %}

  <!-- NAV component -->
  {% block nav %}
    {% include 'client/components/customer/nav/nav.html' with slug=artisan.slug %}
  {% endblock %}

  <main>
    <section class="flex flex-col w-full items-center p-4 gap-4">
      <div class="w-full flex flex-col items-center">
        <h1 class="text-2xl font-semibold">Policies</h2>
        <p class="section-description">Standard Operating Procedures</p>
      </div>
      <div class="flex flex-col gap-4">
        <div class="card bg-base-100 max-w-[800px]">
          <div id="terms-and-conditions-card" class="card-body">
            <h2 class="card-title">Terms & Conditions</h2>
            <p class="text-wrap whitespace-pre-line"></p>
          </div>
        </div>

        <div class="card bg-base-100 max-w-[800px]">
          <div id="refund-exchange-policy-card" class="card-body">
            <h2 class="card-title">Refund/Exchange Policy</h2>
            <p class="text-wrap whitespace-pre-line"></p>
          </div>
        </div>

        <div class="card bg-base-100 max-w-[800px]">
          <div id="shipping-policy-card" class="card-body">
            <h2 class="card-title">Order Fulfillment Policy</h2>
            <p class="text-wrap whitespace-pre-line"></p>
          </div>
        </div>

      </div>
    </section>
  </main>

  <!-- FOOTER Component -->
   {% block footer %}
    {% include 'client/components/customer/footer/footer.html' %}
   {% endblock %}
{% endblock %}

{% block extra_scripts %}
  <script type="module" src="{% static 'customer/scripts/policies.js' %}"></script>
{% endblock %}