{% extends 'base.html' %}
{% load static %}

{% block title %}Shop{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'customer/shop/style.css' %}">
{% endblock %}

{% block content %}

    <!-- NAV -->
    {% block nav %}
        {% include 'client/components/customer/nav/nav.html' with slug=artisan.slug %} 
    {% endblock nav %}
    <!-- Page content -->
    <main>
        <section class="shop-section">
        <h2 class="section-title">Shop</h2>
        <p class="section-description">Browse our selection of handcrafted instruments — each piece tells its own story.</p>

        <div class="shop-grid">
            No Shop Items Found
        </div>
        </section>

        <!-- Dynamic Product Modal -->
        <div id="product-modal" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2 id="modal-title">Product Name</h2>
            <img id="modal-image" src="" alt="Product Image">
            <p id="modal-description">Product description goes here...</p>
            <p class="price" id="modal-price">$0.00</p>

            <!-- Quantity Input -->
            <div class="modal-quantity-group">
            <label for="modal-quantity">Quantity:</label>
            <input type="number" id="modal-quantity" value="1">
            </div>

            <button class="add-to-cart" id="modal-add-to-cart">Add to Cart</button>
        </div>
        </div>

    </main>
    <!-- FOOTER -->
    {% block footer %}
        {% include 'client/components/customer/footer/footer.html' with slug=artisan.slug %}
    {% endblock footer %}

{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'customer/shop/shop.js' %}"></script>
{% endblock %}