{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Merchant Dashboard</title>
  <link rel="stylesheet" href="{% static 'merchant/dashboard/style.css' %}" />
  <link rel="stylesheet" href="{% static 'components/nav/style.css' %}" />
  <link rel="stylesheet" href="{% static 'components/footer/style.css' %}" />
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- NAV -->
    {% block nav %}
        {% include 'client/components/merch-nav/nav.html' %} {# This is where the magic happens #}
    {% endblock nav %}

  <!-- Main Content -->

  <main class="dashboard-main">
    <h1>Welcome, Merchant</h1>
    <div class="dashboard-sections">
      <section class="dashboard-card" id="orders-section">
        <h2>Orders</h2>
        <p>Review recent purchases and manage order fulfillment.</p>
        <button>View Orders</button>
      </section>

      <section class="dashboard-card" id="custom-section">
        <h2>Custom Requests</h2>
        <p>See custom project inquiries and respond to customers.</p>
        <button>Manage Requests</button>
      </section>

      <section class="dashboard-card" id="inventory-section">
        <h2>Inventory</h2>
        <p>Add, update, or remove products from your shop.</p>
        <div id="inventory-items-flex">
          
        </div>
        <button class="primary-btn">Add Item</button>
      </section>
    </div>
  </main>

  <!-- Inventory Modal -->
  <div class="modal-overlay" id="modal">
    <div class="modal-content">
      <h3>Add New Item</h3>
      <form id="add-item-form">
        <input id="name" type="text" name="title" placeholder="Title" required />
        <input id="price" type="number" name="price" placeholder="Price" step="0.01" required />
        <textarea id="description" name="description" placeholder="Description" rows="4" required></textarea>
        <input id="quantity" type="number" name="quantity" placeholder="Quantity" required />
        <input id="image-file" type="file" name="image" accept="image/*" />
        <button type="submit">Add Item</button>
      </form>
    </div>
  </div>

    {% block footer %}
        {% include 'client/components/footer/footer.html' %} {# This is where the magic happens #}
    {% endblock footer %}

  <script>
    // Define js variables to hold static urls
    const IMAGE_URL = "{{ product.image.url }}";
  </script>
  <script src="{% static 'merchant/dashboard/main.js' %}"></script>
</body>
</html>
