{% load static %}

<div class="navbar bg-base-100 shadow-sm p-4">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /> </svg>
      </div>
      <ul
        tabindex="-1"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
        <li><a href="{% url 'home' slug %}">HOME</a></li>
        <li><a href="{% url 'shop' slug %}">SHOP</a></li>
        <li><a href="{% url 'gallery' slug %}">GALLERY</a></li>
        <li><a href="{% url 'policies' slug %}">TERMS & CONDITIONS</a></li>
      </ul>
    </div>
    <a class="btn btn-ghost btn-xl" href="{% url 'home' slug %}"><img id="nav-logo-image" class="h-16 w-auto" alt="nav logo white text"></a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1 text-lg">
      <li><a href="{% url 'home' slug %}">HOME</a></li>
      <li><a href="{% url 'shop' slug %}">SHOP</a></li>
      <li><a href="{% url 'gallery' slug %}">GALLERY</a></li>
      <li><a href="{% url 'policies' slug %}">TERMS & CONDITIONS</a></li>
    </ul>
  </div>
  <div class="navbar-end">
    <a href="{% url 'cart' slug %}" class="btn-ghost">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-4 8h16" />
      </svg>
    </a>
  </div>
</div>

