{% load static %}

<!-- nav.html -->
<nav class="navbar">
  <div id="central-navbar-section">
    <div class="nav-links">
      <a href="{% url 'slug_home' slug %}">HOME</a>
      <a href="{% url 'shop' slug %}">SHOP</a>
    </div>
    <div class="nav-header">
      <a href="{% url 'slug_home' slug %}">
        <img class="nav-logo-image" alt="nav logo white text">
      </a>
    </div>
    <div class="nav-links">
      <a href="{% url 'gallery' slug %}">GALLERY</a>
      <a href="{% url 'custom' slug %}">CUSTOM ORDERS</a>
    </div>
  </div>
  <a href="{% url 'cart' slug %}">
      <img src="{% static 'images/shopping_cart_24dp_F2ECE4_FILL0_wght400_GRAD0_opsz24.svg' %}" alt="shopping bag icon">
  </a>
  <button class="menu-toggle" aria-label="Toggle navigation">&#9776;</button>
  <script src="{% static 'components/nav/nav.js' %}"></script>
</nav>
