{% load static %}

<!-- nav.html -->
<nav class="navbar">
  <div class="nav-header">
    <a href="{% url 'slug_home' slug %}">
      <img class="nav-logo-image" src="{% static 'images/logo_white_text_on_blue.png' %}" alt="nav logo white text">
    </a>
  </div>
  <div class="nav-links" id="central-group-links">
    <a href="{% url 'slug_home' slug %}">Home</a>
    <a href="{% url 'gallery' slug %}">Gallery</a>
    <a href="{% url 'shop' slug %}">Shop</a>
    <a href="{% url 'custom' slug %}">Custom Orders</a>
    <a href="{% url 'cart' slug %}">
      <img src="{% static 'images/shopping_cart_24dp_F2ECE4_FILL0_wght400_GRAD0_opsz24.svg' %}" alt="shopping bag icon">
    </a>
  </div>
  <button class="menu-toggle" aria-label="Toggle navigation">&#9776;</button>
</nav>
