{% load static %}

<div class="dashboard-links gradient-background">
  <div class="links-group">
    <a href="/dashboard/"><img src="/media/icons/inactive/speed_64dp_FFFFFF_FILL0_wght400_GRAD0_opsz48 (1).svg" alt="dashboard icon"><h3>Dashboard</h3></a>
    <a href="/orders/"><img src="/media/icons/inactive/orders_64dp_FFFFFF_FILL0_wght400_GRAD0_opsz48.svg" alt="orders icon"><h3>Orders</h3></a>
    <a href="/custom-orders/"><img src="/media/icons/inactive/tune_64dp_FFFFFF_FILL0_wght400_GRAD0_opsz48.svg" alt="custom orders icon"><h3>Custom Orders</h3></a>
    <a href="/inventory/"><img src="/media/icons/inactive/inventory_64dp_FFFFFF_FILL0_wght400_GRAD0_opsz48.svg" alt="inventory icon"><h3>Inventory</h3></a>
    <a href="/reporting/"><img src="/media/icons/inactive/finance_64dp_FFFFFF_FILL0_wght400_GRAD0_opsz48.svg" alt="reporting icon"><h3>Reporting</h3></a>
    <a href="/gallery/"><img src="/media/icons/inactive/panorama_64dp_FFFFFF_FILL0_wght400_GRAD0_opsz48.svg" alt="gallery icon"><h3>Gallery</h3></a>
  </div>
  <div class="links-group">
    <a href="/settings/"><img src="/media/images/settings_64dp_FFFFFF_FILL0_wght400_GRAD0_opsz48.png" alt="settings icon"><h3>Settings</h3></a>
  </div>
</div>