{% extends 'merch_base.html' %}
{% load static %}

{% block title %}Merchant Dashboard{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'merchant/styles/add-item.css' %}">
{% endblock %}

{% block content %}
  {% block nav %}
    {% include 'client/components/merchant/merch-nav/nav.html' with slug=artisan.slug %}
  {% endblock nav %}

  <!-- Main Content -->
  <main class="dashboard-main">
    <!-- Sidebar Links -->
    {% block side-links %}
      {% include 'client/components/merchant/side-links/side-links.html' with slug=artisan.slug %}
    {% endblock side-links %}

    <div class="" id="new-product-form-section">
      <div id="back-button-div">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" style="fill: var(--text-color-primary);"><path d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z"/></svg>
        <h3>Back to Inventory</h3>
      </div>
      <form id="new-product-form">
          <input type="text" id="product-name" name="product-name" placeholder="Product Name" required>
          <input type="file" id="product-image" name="product-image" accept="image/*">
          <input type="number" id="product-price" name="product-price" step="0.01" min="0" placeholder="Price" required>
          <input type="number" id="product-quantity" name="product-quantity" min="0" placeholder="Stock" required>
          <textarea id="product-description" name="product-description" rows="4" cols="50" placeholder="Description"></textarea>
          <div style="width: 100%; display: flex; flex-direction: row; justify-content: space-between; flex-wrap: wrap; gap: .5rem;">
            <button class="form-button" type="submit">Create Product</button>
            <button class="form-button" type="reset">Reset Form</button>
          </div>
      </form>
    </div>
  </main>
{% endblock %}

{% block extra_scripts %}
  <script>
    const window_location = 'Dashboard';
    const active_URL = "/media/icons/active/dashboard_purple.svg"
  </script>
  <script type="module" src="{% static 'merchant/scripts/new-item.js' %}"></script>
  <script type="module" src="{% static 'merchant/scripts/common.js' %}"></script>
{% endblock %}
