{% extends 'merch_base.html' %}
{% load static %}

{% block title %}Merchant Dashboard{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'merchant/styles/add-item.css' %}">
{% endblock %}

{% block content %}
  {% block nav %}
    {% include 'client/components/merchant/merch-nav/nav.html' with slug=artisan.slug %}
  {% endblock nav %}

  <!-- Main Content -->
  <main class="dashboard-main flex flex-col md:flex-row w-full">
    <!-- Sidebar Links -->
    {% block side-links %}
      {% include 'client/components/merchant/side-links/side-links.html' with slug=artisan.slug %}
    {% endblock side-links %}

    <div class="flex flex-col gap-4 m-4 w-full" id="new-product-form-section">
      <div class="w-full lg:w-1/2 flex flex-col gap-2">
        <button id="back-button-div" class="btn btn-ghost w-fit p-2 flex flex-row justify-start">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" class="fill-primary"><path d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z"/></svg>
          <span class="text-primary">Back to Inventory</span>
        </button>
        <form id="new-product-form" class="flex flex-col w-full gap-2">
            <input class="input w-full" type="text" id="product-name" name="product-name" placeholder="Product Name" required maxlength="100">
            <input class="file-input w-full" type="file" id="product-image" name="product-image" accept="image/*">
            <input class="input w-full" type="number" id="product-price" name="product-price" step="0.01" min="0" placeholder="Price" required>
            <input class="input w-full" type="number" id="product-quantity" name="product-quantity" min="0" value="1" placeholder="Stock" required>
            <textarea class="textarea w-full" id="product-description" name="product-description" rows="4" cols="50" placeholder="Description"></textarea>
            <div class="flex flex-row w-full gap-4">
              <button class="btn btn-primary btn-outline flex-1 hover:text-white" type="submit">Create Product</button>
              <button class="btn btn-error btn-outline flex-1 hover:text-white" type="reset">Reset Form</button>
            </div>
        </form>
      </div>
    </div>

    {% block chat %}
      {% include 'client/components/merchant/chat.html' %}
    {% endblock %}

  </main>
{% endblock %}

{% block extra_scripts %}
  <script>
    const window_location = 'Dashboard';
    const active_URL = "/media/icons/active/dashboard_purple.svg"
  </script>
  <script type="module" src="{% static 'merchant/scripts/new-item.js' %}"></script>
  <script type="module" src="{% static 'merchant/scripts/common.js' %}"></script>
{% endblock %}
