{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Merchant Dashboard</title>
  <link rel="stylesheet" href="{% static 'merchant/dashboard/style.css' %}" />
  <link rel="stylesheet" href="{% static 'components/merch-nav/style.css' %}" />
  <link rel="stylesheet" href="{% static 'components/footer/style.css' %}" />
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Menbere:wght@100..700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- NAV -->
    {% block nav %}
        {% include 'client/components/merch-nav/nav.html' with slug=artisan.slug %}
    {% endblock nav %}

  <!-- Main Content -->

  <main class="dashboard-main">
    <!-- Sidebar Links -->
    <div class="dashboard-links">
      <div class="links-group">
        <a href="/dashboard/" class="active"><img src="/media/images/speed_64dp_4F46E5_FILL0_wght400_GRAD0_opsz48.png" alt="dashboard icon"><h3>Dashboard</h3></a>
        <a href="/orders/"><img src="/media/images/orders_64dp_FFFFFF_FILL0_wght400_GRAD0_opsz48.png" alt="orders icon"><h3>Orders</h3></a>
        <a href="/custom-requests/"><img src="/media/images/instant_mix_64dp_FFFFFF_FILL0_wght400_GRAD0_opsz48.png" alt="custom orders icon"><h3>Custom Orders</h3></a>
        <a href="/inventory/"><img src="/media/images/inventory_64dp_FFFFFF_FILL0_wght400_GRAD0_opsz48.png" alt="inventory icon"><h3>Inventory</h3></a>
        <a href="/reporting/"><img src="/media/images/finance_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.png" alt="reporting icon"><h3>Reporting</h3></a>
        <a href="/customize-gallery/"><img src="/media/images/photo_64dp_FFFFFF_FILL0_wght400_GRAD0_opsz48.png" alt="gallery icon"><h3>Gallery</h3></a>
      </div>
      <div class="links-group">
        <a href="/settings/"><img src="/media/images/settings_64dp_FFFFFF_FILL0_wght400_GRAD0_opsz48.png" alt="settings icon"><h3>Settings</h3></a>
      </div>
    </div>

    <!-- All The DATA Sections -->
     <section class="dashboard-sections">

      <!-- Order, Custom Reuqests, and quick sales stats -->
      <section class="dashboard-section" id="quick-stats">
        <div class="dashboard-card" id="sales-orders-card">
          <section id="sales-and-orders-section">
            <div id="sales">
              <p>Sales</p>
              <h1>0</h1>
            </div>
            <div id="orders">
              <p>Orders</p>
              <h1>0</h1>
            </div>
          </section>
          <section id="time-frame-section">
            <h3 class="active">1D</h3>
            <h3>1W</h3>
            <h3>1M</h3>
            <h3>1Y</h3>
          </section>
        </div>
        <div class="dashboard-card" id="custom-orders-card">
          <div id="custom-orders">
            <p>You have...</p>
            <h1>17</h1>
            <p>custom requests.</p>
          </div>
        </div>
      </section>

      <!-- Active Orders -->
      <section class="dashboard-section" id="orders-section">
        <div class="dashboard-card" id="orders-card">
          <table id="orders-table">
            <tr>
              <th>Order #</th>
              <th>Contact</th>
              <th>Date</th>
              <th>Status</th>
            </tr>
          </table>
        </div>
      </section>

    </section>
  </main>
  <script src="{% static 'merchant/dashboard/secondary.js' %}"></script>
</body>
</html>
