{% extends 'merch_base.html' %}
{% load static %}

{% block title %}Merchant Dashboard{% endblock %}

{% block extra_head %}
{% endblock %}

{% block content %}

  <div class="drawer drawer-end z-50">
    <input type="checkbox" id="product-details-drawer" class="drawer-toggle">

    <div class="drawer-content">
      <!-- NAV -->
      {% block nav %}
        {% include 'client/components/merchant/merch-nav/nav.html' with slug=artisan.slug %}
      {% endblock nav %}

      <main class="flex flex-col md:flex-row">
        <!-- Sidebar Links -->
        {% block side-links %}
          {% include 'client/components/merchant/side-links/side-links.html' with slug=artisan.slug %}
        {% endblock side-links %}

        <div class="flex flex-col w-full p-4 gap-4">

          <!-- Search Input and Add Item -->
          <section id="top-buttons-section" class="flex flex-row justify-between items-center w-full">
            <label class="input input-bordered flex items-center gap-2">
              <svg class="h-4 w-4 opacity-50" viewBox="0 0 24 24" fill="none" stroke="currentColor">
                <circle cx="11" cy="11" r="8"></circle>
                <path d="M21 21l-4.3-4.3"></path>
              </svg>
              <input id="search-input" type="search" class="grow" placeholder="Search by ID or Name" />
            </label>
            <div id="categories-manager"></div>
            <div>
              <button class="btn btn-outline btn-primary hover:text-white" id="add-item-button">Add Item &plus;</button>
            </div>
          </section>

          <!-- TABLE Inventory -->
          <section class="" id="inventory-table-section">
            <h2 class="text-xl mb-2 text-primary">Inventory</h2>
            <div class="card bg-base-100 shadow max-h-[400px] overflow-auto">
              <table id="inventory-table" class="records-table table table-hover table-pin-rows">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Stock</th>
                    <th>Category</th>
                    <th>Featured</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
          </section>

          <div class="divider"></div>

          <section class="flex flex-col gap-4" id="category-list-section">
            <div>
              <h2 class="text-xl mb-2 text-primary">Categories</h2>
              <ul id="category-list" class="list bg-base-100 rounded-box shadow-md"></ul>
            </div>
            <div class="">
              <input type="text" class="input" id="new-category-input" placeholder="Add a new category">
              <button id="add-category-btn" class="btn btn-primary btn-outline hover:text-white">Add</button>
            </div>
          </section>
          
        </div>
      </main>
    </div>


    <!-- DRAWER containing product details -->
    <div class="drawer-side z-40">
      <label for="product-details-drawer" class="drawer-overlay"></label>

      <aside class="w-full sm:w-[600px] bg-base-100 h-full shadow-xl overflow-y-auto">

        <!-- HEADER -->
        <div class="flex justify-between items-center p-4 pl-6 pr-6 bg-primary">
          <h2 class="text-xl text-white font-semibold">Product Details</h2>
          <label for="product-details-drawer" class="btn btn-sm btn-circle btn-ghost text-white hover:text-black">✕</label>
        </div>

        <!-- CONTENT -->
        <div class="flex flex-col gap-2 p-6">
          <!-- PRODUCT IMAGE -->
          <div class="w-full flex flex-col gap-2">
            <div class="w-full h-60 rounded-lg overflow-hidden bg-base-200 flex items-center justify-center">
              <img
                id="product-drawer-image"
                src=""
                alt="Product Image"
                class="object-contain w-full h-full"
              />
            </div>
            <input type="file" name="image" id="product-drawer-image-input" class="file-input w-full">
          </div>

          <!-- PRODUCT NAME -->
          <fieldset class="fieldset">
            <legend class="fieldset-legend text-base">Product Name</legend>
            <input type="text" name="name" id="product-drawer-name" class="input" placeholder="--">
          </fieldset>

          <div class="flex flex-row flex-wrap gap-4">
            <!-- PRICE -->
            <fieldset class="fieldset">
              <legend class="fieldset-legend text-base">Price</legend>
              <label class="input max-w-[200px]">
                <span class="label">USD</span>
                <input type="number" name="price" id="product-drawer-price" placeholder="000">
              </label>
            </fieldset>

            <!-- CATEGORY -->
            <fieldset class="fieldset">
              <legend class="fieldset-legend text-base">Category</legend>
              <select name="category" id="product-drawer-category" class="select"></select>
            </fieldset>
          </div>

          <div class="flex flex-row flex-nowrap gap-4">
            <!-- STOCK -->
            <fieldset class="fieldset">
              <legend class="fieldset-legend text-base">Quantity in Stock</legend>
              <input type="number" name="stock" id="product-drawer-stock" class="input" placeholder="000">
            </fieldset>
            <!-- Track Stock -->
            <fieldset class="fieldset">
              <legend class="fieldset-legend text-base">Track Stock</legend>
              <input type="checkbox" checked="checked" id="product-track-stock" class="toggle toggle-primary" />
            </fieldset>
          </div>

          <!-- DESCRIPTION -->
          <div class="form-control w-full">
            <fieldset class="fieldset">
              <legend class="fieldset-legend text-base">Description</legend>
              <textarea name="description" id="product-drawer-description" class="textarea h-36 w-full" placeholder="Description"></textarea>
            </fieldset>
          </div>

          <!-- FEATURED -->
          <div class="form-control">
            <label class="label cursor-pointer flex items-center gap-3">
              <span class="label-text">Feature this product</span>
              <input
                id="product-drawer-featured"
                type="checkbox"
                class="checkbox checkbox-primary"
                name="featured"
              />
            </label>
          </div>

          <!-- ACTION -->
          <div class="flex flex-col gap-2">
            <button id="product-save-button" class="btn btn-primary w-full text-white">Save Changes</button>
            <button id="product-delete-button" class="btn btn-error w-full text-white">Delete Product</button>
          </div>
        </div>
      </aside>
    </div>

    <!-- MODAL for deleting a product -->
    <dialog id="deleteModal" class="modal">
      <div class="modal-box">
        <h3 class="font-bold text-lg text-error">
          Delete this product?
        </h3>

        <p class="py-2">
          Permanently removes product from your inventory.<br>
          This action cannot be undone.
        </p>

        <div class="modal-action">
          <button class="btn btn-primary btn-outline hover:text-white">Cancel</button>
          <button class="btn btn-error btn-outline hover:text-white">Delete</button>
        </div>
      </div>
    </dialog>


  </div>
{% endblock %}

{% block extra_scripts %}
  <script>
    const window_location = 'Inventory';
    const active_URL = "/media/icons/active/inventory_purple.svg"
  </script>
  <script type="module" src="{% static 'merchant/scripts/common.js' %}"></script>
  <script type="module" src="{% static 'merchant/scripts/inventory.js' %}"></script>
{% endblock %}

