{% extends 'merch_base.html' %}
{% load static %}

{% block title %}Merchant Dashboard{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'merchant/styles/inventory.css' %}"/>
{% endblock %}

{% block content %}
  <!-- NAV -->
  {% block nav %}
    {% include 'client/components/merchant/merch-nav/nav.html' with slug=artisan.slug %}
  {% endblock nav %}

  <main class="dashboard-main">
    <!-- Sidebar Links -->
    {% block side-links %}
      {% include 'client/components/merchant/side-links/side-links.html' with slug=artisan.slug %}
    {% endblock side-links %}

    <!-- All The DATA Sections -->
     <section class="dashboard-sections">

      <!-- Help Links -->
      <section class="dashboard-section" id="inventory-main-section">

        <div>
          <section class="dashboard-section" id="top-buttons-section">
            <div class="search-container box-shadowable">
              <span class="search-icon gradient-background"><img src="/media/icons/active/search_purple.svg" alt="search Icon"></span>
              <input type="text" id="searchInput" class="search-input" placeholder="Search products by name or ID...">
            </div>
            <div>
              <button class="main-button gradient-background box-shadowable" id="add-item-button">Add Item &plus;</button>
            </div>
          </section>

          <section class="dashboard-section" id="inventory-table-section">
            <table id="inventory-table" class="records-table">
              <thead>
                <th id="id-header">ID</th>
                <th>Name</th>
                <th id="price-header">Price</th>
                <th id="stock-header">Stock</th>
              </thead>
              <tbody>
              </tbody>
            </table>
          </section>

          <section class="dashboard-section" id="categories-section">
            <div id="category-manager">
              <h3>Categories</h3>
              <ul id="category-list"></ul>

              <input type="text" id="new-category-input" placeholder="Add a new category">
              <button id="add-category-btn">Add</button>

              <p id="category-message"></p>
            </div>
          </section>
        </div>



        <div class="dashboard-card" id="bottom-links-card">
          <a href="" class="link gradient-text">Help Center</a>
          <a href="" class="link gradient-text">FAQ</a>
          <a href="" class="link gradient-text">Terms & Conditions</a>
          <a href="" class="link gradient-text">Privacy Policy</a>
          <a href="" class="link gradient-text">Contact Us</a>
        </div>
      </section>
    </section>
    <!-- Product Details Modal -->
    <div id="product-details-modal" class="side-modal">
        <div id="product-details" class="side-modal-details">
          <h3 class="close-modal-btn">&times;</h3>
          <h3>Preview Product</h3>
          <img src="/media/images/classical.webp" alt="product image">
          <label for="product-title">Title</label>
          <p id="product-title">Product title</p>
          <label for="product-price">Price</label>
          <p id="product-price">Product Price</p>
          <label for="product-stock">Stock</label>
          <p id="product-stock">0</p>
          <label for="product-description">Description</label>
          <p id="product-description">...</p>
          <label for="product-category">Category</label>
          <p id="product-category"></p>
        </div>
        <div id="product-actions">
          <button id="edit-button" class="main-button gradient-background">Edit</button>
          <button id="delete-button" class="main-button gradient-background">Delete</button>
        </div>
    </div>
    <!-- Edit Item Modal -->
    <div id="product-edit-modal" class="side-modal">
      <form id="edit-details" enctype="multipart/form-data">
        <h3 class="close-modal-btn">&times;</h3>
        <h3>Edit Product</h3>

        <!-- Main product image -->
        <input type="file" id="edit-image" name="product-image" accept="image/*">

        <!-- Extra images input -->
        <label for="edit-extra-images">Extra Images</label>
        <input type="file" id="edit-extra-images" name="extra_images" accept="image/*" multiple>
        
        <!-- Previews will appear here -->
        <div id="extra-image-previews" style="display: flex; gap: 8px; flex-wrap: wrap; margin-bottom: 10px;"></div>

        <label for="edit-title">Title</label>
        <input type="text" id="edit-title" required>

        <label for="edit-price">Price</label>
        <input type="number" id="edit-price" step=".01" required>

        <label for="edit-stock">Stock</label>
        <input type="number" id="edit-stock" required>

        <label for="edit-description">Description</label>
        <textarea name="description" id="edit-description" required></textarea>

        <label for="edit-category">Category</label>
        <select name="edit-category" id="edit-category"></select>

        <button type="submit" id="submit-edit-button">Complete</button>
      </form>
    </div>

    <!-- Confirm Delete Product Modal -->
    <div id="confirm-delete-modal" class="modal">
      <div id="confirm-delete-content" class="modal-content">
        <h1 id="delete-warning-header">Warning!!!</h1>
        <p id="delete-warning-p">You are about to delete a product. This action cannot be undone. Are you sure you want to continue?</p>
        <div id="delete-modal-buttons">
          <button id="cancel-delete-button" class="gradient-background">No, Don't Delete</button>
          <button id="confirm-delete-button">Yes, Delete Product</button>
        </div>
      </div>
    </div>
  </main>
{% endblock %}

{% block extra_scripts %}
  <script>
    const window_location = 'Inventory';
    const active_URL = "/media/icons/active/inventory_purple.svg"
  </script>
  <script type="module" src="{% static 'merchant/scripts/common.js' %}"></script>
  <script type="module" src="{% static 'merchant/scripts/inventory.js' %}"></script>
{% endblock %}

