{% load static %}

<footer class="footer sm:footer-horizontal bg-base-200 text-base-content p-10">
    <aside>
        <a class="btn btn-ghost btn-xl" href="{% url 'home' slug=artisan.slug %}"><img id="footer-logo-image" class="h-16 w-auto" alt="footer logo white text"></a>
        <p>
            ACME Industries Ltd.
        </p>
    </aside>
    <nav>
        <h6 class="footer-title">Explore</h6>
        <a class="link link-hover" href="{% url 'home' slug=artisan.slug %}">Home</a>
        <a class="link link-hover" href="{% url 'gallery' slug=artisan.slug %}">Gallery</a>
        <a class="link link-hover" href="{% url 'shop' slug=artisan.slug %}">Shop</a>
        <a class="link link-hover" href="{% url 'cart' slug=artisan.slug%}">Cart</a>
        <a class="link link-hover" href="{% url 'policies' slug=artisan.slug %}">Terms & Conditions</a>
    </nav>
    <nav>
        <h6 class="footer-title">About</h6>
        <a class="link link-hover" href="{% url 'about' slug=artisan.slug %}">About</a>
    </nav>
    <nav id="social-links-nav">
        <h6 class="footer-title">Social</h6>
        <div class="grid grid-flow-col gap-4">
            <a id="facebook-link">
                <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>
            </a>
            <a id="youtube-link">
                <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><path d="M22.54 6.42a2.78 2.78 0 0 0-1.94-2C18.88 4 12 4 12 4s-6.88 0-8.6.46a2.78 2.78 0 0 0-1.94 2A29 29 0 0 0 1 11.75a29 29 0 0 0 .46 5.33A2.78 2.78 0 0 0 3.4 19c1.72.46 8.6.46 8.6.46s6.88 0 8.6-.46a2.78 2.78 0 0 0 1.94-2 29 29 0 0 0 .46-5.25 29 29 0 0 0-.46-5.33z"></path><polygon points="9.75 15.02 15.5 11.75 9.75 8.48 9.75 15.02"></polygon></svg>
            </a>
            <a id="instagram-link">
                <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>
            </a>
        </div>
    </nav>
</footer>