{% load static %}

<footer class="site-footer">
    <div class="footer-content">
        <div class="footer-column">
            <h4>Explore</h4>
            <a href="{% url 'home' slug=artisan.slug %}">Home</a>
            <a href="{% url 'gallery' slug=artisan.slug %}">Gallery</a>
            <a href="{% url 'shop' slug=artisan.slug %}">Shop</a>
            <a href="{% url 'custom' slug=artisan.slug %}">Custom Orders</a>
            <a href="{% url 'cart' slug=artisan.slug%}">Cart</a>
            <a href="{% url 'policies' slug=artisan.slug %}">Terms & Conditions</a>
        </div>

        <div class="footer-column">
            <h4>About</h4>
            <a href="{% url 'about' slug=artisan.slug %}">About</a>
        </div>

        <div class="footer-column">
            <h4>Contact</h4>
            <p id="footer-email">Email: </p>
            <p id="footer-phone">Phone: </p>
            <div class="social-icons">
                <a href="#"><img src="{% static 'images/facebook.png' %}" alt="Facebook"></a>
                <a href="#"><img src="{% static 'images/instagram.png' %}" alt="Instagram"></a>
                <a href="#"><img src="{% static 'images/youtube.png' %}" alt="YouTube"></a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2025 Your Guitar Shop. All rights reserved.</p>
    </div>
    <script type="module" src="{% static 'customer/scripts/footer.js' %}"></script>
</footer>