{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success!</title>
    <link rel="stylesheet" href="{% static 'customer/custom/style.css' %}">
    <link rel="stylesheet" href="{% static 'components/nav/style.css' %}">
    <link rel="stylesheet" href="{% static 'components/footer/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap" rel="stylesheet">
</head>
<body>
    {% block nav %}
        {% include 'client/components/nav/nav.html' %} {# This is where the magic happens #}
    {% endblock nav %}

    <main class="success-page">
    <section class="success-message">
        <h1>Thank You!</h1>
        <p>Your custom order request has been received.</p>
        <p>We’ll review your submission and reach out soon to discuss your vision in detail.</p>
        <a href="../home/index.html" class="back-home-button">Return to Home</a>
    </section>
    </main>


    {% block footer %}
        {% include 'client/components/footer/footer.html' %} {# This is where the magic happens #}
    {% endblock footer %}

</body>
</html>