<!-- nav.html -->
<nav class="navbar">
  <div class="nav-header">
    <a href="/index.html">
      <img class="nav-logo-image" src="../images/logo_white_text_on_blue.png" alt="nav logo white text">
    </a>
  </div>
  <div class="nav-links" id="central-group-links">
    <a href="../gallery/index.html">Gallery</a>
    <a href="../shop/index.html">Shop</a>
    <a href="../custom-order-portal/index.html">Custom Orders</a>
    <a href="../cart/index.html">
      <img src="../images/shopping_cart_24dp_F2ECE4_FILL0_wght400_GRAD0_opsz24.svg" alt="shopping bag icon">
    </a>
  </div>
  <button class="menu-toggle" aria-label="Toggle navigation">&#9776;</button>
</nav>
