{% load static %} {# Remember to load static here as well if it's used in the footer #}

<footer class="site-footer">
    <div class="footer-content">
        <div class="footer-column">
            <h4>Explore</h4>
            <a href="{% url 'slug_home' slug %}">Home</a> {# Use url tags for robustness #}
            <a href="{% url 'gallery' slug=artisan.slug %}">Gallery</a>
            <a href="{% url 'shop' slug=artisan.slug %}">Shop</a>
            <a href="{% url 'custom' slug=artisan.slug %}">Custom Orders</a>
            <a href="{% url 'cart' %}">Cart</a>
        </div>

        <div class="footer-column">
            <h4>About</h4>
        </div>

        <div class="footer-column">
            <h4>Contact</h4>
            <p>Email: info@yourguitarshop.com</p>
            <p>Phone: (555) 123-4567</p>
            <div class="social-icons">
                <a href="#"><img src="{% static 'images/facebook.png' %}" alt="Facebook"></a>
                <a href="#"><img src="{% static 'images/instagram.png' %}" alt="Instagram"></a>
                <a href="#"><img src="{% static 'images/youtube.png' %}" alt="YouTube"></a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2025 Your Guitar Shop. All rights reserved.</p>
    </div>
</footer>