#reporting-redirect-modal {
  color: white;
}

#custom-redirect-modal {
  background-color: white;
  color: #4F46E5;
}

.dashboard-card-modal:hover {
  cursor: pointer;
}

#quick-stats {
  justify-content: flex-end;
  align-items: center;
}

#quick-stats h1 {
  margin: auto;
  font-size: 24pt;
}

#sales-orders-card, #custom-orders-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 33%;
  box-sizing: border-box;
  min-height: 150px;
}

#custom-orders-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

#custom-orders-card p {
  font-size: 18pt;
  text-align: center;
  margin: auto;
}

#custom-orders-card h1 {
  font-size: 28pt;
  text-align: center;
  margin: 0;
}

#sales-and-orders-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin: auto;
}

#sales, #orders {
  height: 100%;
  margin: auto;
  padding: auto;
  display: flex; flex-direction: column; align-items: center;
}
#sales p, #orders p {font-size: 18pt; margin: 0;}
#sales h1, #orders h1 {
  color: #4F46E5;
  margin: 0;
  font-size: 36pt;
}

#time-frame-section {
  display: flex;
  flex-direction: row;
  width: auto;
  min-width: 100px;
  margin: auto;
}

#time-frame-section h3 {
  font-size: 12pt;
  padding: .5rem .3rem;
  margin: .3rem auto;
  border-radius: 32px;
  transition: all 0.15s ease-in-out;
}

#time-frame-section h3:hover {
  background-color: #d0d0d1;
  transform: scale(1.025);
  cursor: pointer;
}

#time-frame-section h3.active {
  color: #4F46E5;
}

@media (max-width: 900px) {
  #sales-and-orders-section {
    flex-direction: column;
  }
}

@media (max-width: 1000px) {
  #quick-stats {
    flex-direction: column;
  }

  #sales-orders-card, #custom-orders-card {
    width: 100%;
    box-sizing: border-box;
  }
}

#orders-card {
  width: 100%;
  box-sizing: border-box;
  height: fit-content;
  max-height: 400px;
  overflow-y: scroll;
}

table {
  width: 100%;
  box-sizing: border-box;
  border-collapse: collapse;
  text-align: left;
  border-radius: inherit;
}

table thead{
  height: 3rem;
}

.dashboard-table-modal {
  display: hidden;
  transition: transform .15s ease-out, opacity 0.15s ease-in-out;
  position: absolute;
  font-size: 14pt;
  top: 0;
  right: 0;
  transform:  translateX(100%);
  width: fit-content;
  padding: 1rem;
  font-weight: bold;
  color: white;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.dashboard-card:hover .dashboard-table-modal {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.dashboard-table-modal:hover {
  cursor: pointer;
}

table thead th {
  color: rgb(73, 73, 73);
  padding: 1rem;
  font-weight: bold;
  font-size: 12pt;
  background-color: #eeeeee;
}

table tbody {
  max-height: 200px;
  overflow-y: scroll;
}

table tbody tr {
  border-bottom: 2px solid #e5e5e7;
  background: white;
  transition: all 0.15s ease-in-out;
}

#orders-table tbody tr.active {
  background: linear-gradient(135deg, #4F46E5 0%, #3B82F6 100%);
  color: white;
  transform: scale(1.025);
}

table tbody tr:last-child {
  border-bottom: none;
}

table tbody tr:last-child {
  border-radius: 32px;
}

table tbody tr td {
  padding: 1rem;
  width: 25%;
}

#chosen-order-card {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: fit-content;
  max-height: 400px;
  overflow-y: scroll;
}

#close-chosen-order:hover {
  cursor: pointer;
}

#order-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 1rem 2rem;
  color: white;
}

#order-details h3 {
  width: fit-content;
  margin: 0;
}

.item-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 1rem 0;
  border-bottom: 2px solid #e5e5e7;
}

.item-row div {
  width: 33%;
  padding: auto;
}

#order-total {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 2rem;
  border-top: 2px solid #e5e5e7;
}

@media (max-width: 1200px) {
  #orders-section {
    flex-direction: column;
  }

  #orders-card {
    width: 100%;
  }
  #chosen-order-card {
    width: 100%;
  }
}

#inventory-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 2rem;
}

#inventory-stats-section {
  width: 25%;
}

#embedded-inventory-table {
  width: 100%;
  max-height: 350px;
  overflow-y: scroll;
}
