#new-product-form {
  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: 1rem;
}

#new-product-form div {
  display: flex;
  flex-direction: column;
}

#new-product-form input, #new-product-form textarea {
  border: none;
  border-bottom: 1px solid #4F46E5;
  border-radius: 8px;
  padding: .5rem;
}

#new-product-form input {
  height: 2rem;
}

#new-product-form textarea {
  height: 6rem;
}

#new-product-form button {
  border: none;
  border-radius: 8px;
  color: white;
  padding: 1rem;
}

