#inventory-main-section {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
  width: auto;
  box-sizing: border-box;
  transition: all .15s ease-in-out;
  padding-right: 1rem;
}

#top-buttons-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
  justify-content: right;
  height: fit-content;
  margin: 1rem 0 0 0;
}

#inventory-table-section {
  margin: 0;
  width: auto;
}

#inventory-table {
  width: 100%;
  box-sizing: border-box;
  border-collapse: collapse;
}

#inventory-table tr {
  border-bottom: 2px solid #4F46E5;
  transition: all .15s ease-in-out;
}

#inventory-table tr:hover {
  transform: scale(1.0125);
}

#inventory-table th {
  text-align: left;
  padding: 1.5rem 2rem;
}

#inventory-table td {
  padding: .75rem 2rem;
}

.product-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.product-name img {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  border-radius: 8px;
}

.product-actions div {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
}

.product-actions div {
  font-size: 16pt;
}

.product-actions div img {
  width: 1.25rem;
  height: 1.25rem;
}

.action-btn {
  padding-right: .5rem;
  transition: all .15s ease-in-out;
}

.action-btn:hover { 
  cursor: pointer;
  transform: scale(1.1);
}

#product-details-modal {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    background-color: white;
    height: 92vh;
    position: sticky;
    transition: transform .15s ease-in-out;
    transform: translateX(100%);
}

#product-details-modal.active {
    display: flex;
}

#product-details-modal.show {
    transform: translateX(0%);
}

#product-details {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  padding-top: 0.5rem;
}

#close-modal-btn {
  width: 100%;
  text-align: right;
}

#close-modal-btn:hover {
  cursor: pointer;
}

#product-details h3 {
  margin: 0;
}

#product-details label {
  color: black;
  font-weight: bold;
  font-size: 10pt;
}

#product-details p {
  margin-top: 0;
}

#product-details img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
}

#product-actions {
  display: flex;
  flex-direction: column;
  padding: 1.5rem .5rem;
  gap: .25rem;
}