#inventory-main-section {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 2rem;
  padding-top: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

#top-buttons-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
  justify-content: right;
  height: fit-content;
  margin: 1rem 0 0 0;
}

#inventory-table-section {
  margin: 0;
  width: auto;
}

#inventory-table {
  width: 100%;
  box-sizing: border-box;
  border-collapse: collapse;
}

#inventory-table tr {
  border-bottom: 2px solid #4F46E5;
}

#inventory-table tr.active {
  color: white;
}

#inventory-table tr.active .product-actions img {
  visibility: hidden;
}

#inventory-table tr:hover {
  background-color: aliceblue;
}

#inventory-table th {
  text-align: left;
  padding: 1.5rem 2rem;
}

#inventory-table td {
  padding: .75rem 2rem;
}

.product-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.product-name img {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  border-radius: 8px;
}

.product-actions div {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
}

.product-actions div {
  font-size: 16pt;
}

.product-actions div img {
  width: 1.25rem;
  height: 1.25rem;
}

.action-btn {
  padding-right: .5rem;
  transition: all .15s ease-in-out;
}

.action-btn:hover { 
  cursor: pointer;
  transform: scale(1.1);
}

#product-details-modal {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 15%;
  background-color: white;
  height: 92vh;
  position: sticky;
  /* transition: transform .25s ease-in-out; */
  transform: translateX(100%);
}

#product-details-modal.active {
    display: flex;
}

#product-details-modal.show {
    transform: translateX(0%);
}

#product-details {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  padding-top: 0.5rem;
  gap: .5rem;
  width: 100%;
  box-sizing: border-box;
}

#close-modal-btn {
  width: 100%;
  text-align: right;
}

#close-modal-btn:hover {
  cursor: pointer;
}

#product-details h3 {
  margin: 0;
}

#product-details label {
  color: black;
  font-weight: bold;
  font-size: 10pt;
}

#product-details p {
  margin-top: 0;
  max-height: 130px;
  overflow: hidden;
}

#product-details img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
  margin: .5rem auto;
  border-radius: 8px;
}

#product-actions {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1rem;
  gap: .25rem;
}

#delete-button {
  background: linear-gradient(90deg, #FF6E6E, #FF5555, #FF6E6E);
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #00000080;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  border-radius: 32px;
  padding: 2rem;
  width: fit-content;
}

.modal-content h1 {
  text-align: center;
  color: #FF6E6E;
}

.modal-content p {
  max-width: 350px;
  min-width: 100px;
}

#delete-modal-buttons {
  width: 100%;
}

#delete-modal-buttons button {
  border: none;
  padding: 1rem;
  border-radius: 16px;
  width: 49%;
}