{% load static %}

<div class="navbar bg-base-100 shadow-sm sticky top-0 pl-4 pr-4 z-21 w-full flex flex-row justify-between">
  <!-- LOGO -->
  <div class="">
    <a class="text-xl text-primary font-extrabold">HiveMade</a>
  </div>

  <!-- MERCHANT IDENTIFIER -->

  <div class="flex flex-row">
    <p id="merchant-identifier-shop-name" class="hidden md:block text-primary font-bold"></p>
  </div>

  <!-- ACCOUNT, THEME, and MENU -->
  <div class="flex flex-row items-center gap-4">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-primary btn-outline m-1 text-primary font-bold">
        Theme
        <svg
          width="12px"
          height="12px"
          class="inline-block h-2 w-2 fill-current opacity-60 fill-primary"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 2048 2048">
          <path d="M1799 349l242 241-1017 1017L7 590l242-241 775 775 775-775z"></path>
        </svg>
      </div>
      <ul id="themes-dropdown-list" tabindex="-1" class="dropdown-content bg-base-300 rounded-box z-1 w-52 p-2 shadow-2xl">
        <span class="w-full text-xs">Light Themes</span>
        <li>
          <input
            type="radio"
            name="theme-dropdown"
            class="theme-controller w-full btn btn-sm btn-block btn-ghost justify-start"
            aria-label="Light"
            value="light" />
        </li>
        <li>
          <input
            type="radio"
            name="theme-dropdown"
            class="theme-controller w-full btn btn-sm btn-block btn-ghost justify-start"
            aria-label="Nord"
            value="nord" />
        </li>
        <li>
          <input
            type="radio"
            name="theme-dropdown"
            class="theme-controller w-full btn btn-sm btn-block btn-ghost justify-start"
            aria-label="Emerald"
            value="emerald" />
        </li>
        <span class="w-full text-xs">Dark Themes</span>
        <li>
          <input
            type="radio"
            name="theme-dropdown"
            class="theme-controller w-full btn btn-sm btn-block btn-ghost justify-start"
            aria-label="Dark"
            value="dark" />
        </li>
        <li>
          <input
            type="radio"
            name="theme-dropdown"
            class="theme-controller w-full btn btn-sm btn-block btn-ghost justify-start"
            aria-label="Business"
            value="business" />
        </li>
        <li>
          <input
            type="radio"
            name="theme-dropdown"
            class="theme-controller w-full btn btn-sm btn-block btn-ghost justify-start"
            aria-label="Halloween"
            value="halloween" />
        </li>
      </ul>
    </div>

    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div id="navbar-pfp-container" class="w-10 rounded-full bg-base-100"></div>
      </div>
      <ul
        tabindex="-1"
        class="menu menu-md dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
        <li></li>
        <li>
          <a href="/settings/">
            <div id="account-modal-settings-link-div" class="account-modal-link flex flex-row">
              <h3>Settings</h3>
            </div>
          </a>
        </li>
        <li>
          <div id="account-modal-sign-out-link-div" class="account-modal-link flex flex-row">
            <h3>Sign Out</h3>
          </div>
        </li>
      </ul>
    </div>

  </div>

</div>
