{% load static %}
<!DOCTYPE html>
<html lang="en" class="w-full h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Artisan{% endblock %}</title>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Menbere:wght@100..700&family=Oswald:wght@200..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <!-- StyleSheets -->
    <link rel="stylesheet" href="{% static 'components/nav/style.css' %}">
    <link rel="stylesheet" href="{% static 'components/footer/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <link rel="stylesheet" href="{% static 'global.css' %}">
    {% block extra_head %}{% endblock %}
    <script>

        (function() {
            const slug = "{{ artisan.slug }}";
            window.slug = slug;
            const cacheKey = `theme_${slug}`;
            const cached = localStorage.getItem(cacheKey);

            // Apply the saved theme if it exists and ttl not expired
            if (cached) {
                console.log("Found stored theme!");
                const { theme, deathDate } = JSON.parse(cached);
                const isExpired = (deathDate - Date.now()) < 0;

                if (!isExpired) {
                    applyGlobalTheme(theme);
                    console.log(`Applied stored theme in head`);
                    return;
                }
            }
            return;
        }
        )();

        function applyGlobalTheme(theme) {
            const rootStyle = document.documentElement.style;

            // Option 1: Use inline styles via JS variables
            rootStyle.setProperty('--text-color', theme.text_color);
            rootStyle.setProperty('--background-color', theme.background_color);
            rootStyle.setProperty('--accent-color', theme.accent_color);
            rootStyle.setProperty('--link-hover-color', theme.link_hover_color);

            // Option 2: Apply * selector styles directly
            const globalStyle = document.createElement('style');
            // globalStyle.innerHTML = `
            //     * {
            //     }

            //     a {
            //     color: var(--text-color);
            //     }

            //     a:hover {
            //     color: var(--link-hover-color);
            //     }

            //     .action-button {
            //     background-color: var(--accent-color);
            //     }

            //     .add-to-cart-button {
            //     color: var(--text-color);
            //     background-color: var(--accent-color);
            //     }

            //     .checkout-btn:hover {
            //     background-color: var(--accent-color);
            //     }

            //     .edit-btn:hover, .remove-btn:hover {
            //     background-color: var(--accent-color);
            //     }

            //     svg {
            //     fill: var(--text-color);
            //     transition: all .15s ease-in-out;
            //     }

            //     svg:hover {
            //     fill: var(--accent-color);
            //     }

            //     .nav-links.menu-item-1.show {
            //     background-color: var(--background-color);
            //     }
            // `;
            // document.head.appendChild(globalStyle);
            }
    </script>
</head>
<body data-slug="{{ artisan.slug }}" class="lg:text-lg md:text-xl w-full h-fit flex flex-col justify-between">
    {% block content %}
    {% endblock %}

    <!-- Toast Notifications -->
    {% block toast %}
        {% include 'client/components/toast-notif/toast.html' %} 
    {% endblock %}

    {% block extra_scripts %}{% endblock %}
    <script type="module" src="{% static 'customer/scripts/common.js' %}"></script>
    <script type="module" src="{% static 'components/nav/nav.js' %}"></script>
    <script type="module" src="{% static 'customer/scripts/footer.js' %}"></script>
</body>
</html>
