{% load static %}
<!DOCTYPE html>
<html lang="en" class="w-full">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Artisan{% endblock %}</title>
  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Menbere:wght@100..700&family=Oswald:wght@200..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
  <!-- Stylesheets -->
  <link rel="stylesheet" href="{% static 'components/merchant/side-links/style.css' %}">
  <link rel="stylesheet" href="{% static 'components/merchant/merch-nav/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/output.css' %}">
  {% block extra_head %}{% endblock %}
</head>
<body>
  <!-- Main Content -->
  {% block content %}
  {% endblock %}
  <!-- Toast Notifications -->
  {% block toast %}
    {% include 'client/components/toast-notif/toast.html' %}
  {% endblock %}
  <!-- Chart.js -->
  <script defer src="https://cdn.jsdelivr.net/npm/chart.js@4.4.3/dist/chart.umd.min.js"></script>
  <script defer type="module" src="{% static 'components/merchant/merch-nav/nav.js' %}"></script>
  <!-- Extra Scripts -->
  {% block extra_scripts %}{% endblock %}
</body>
</html>