{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Artisan{% endblock %}</title>
  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Menbere:wght@100..700&family=Oswald:wght@200..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
  <!-- Stylesheets -->
  <link rel="stylesheet" href="{% static 'merchant/styles/common.css' %}">
  <link rel="stylesheet" href="{% static 'components/merchant/side-links/style.css' %}">
  <link rel="stylesheet" href="{% static 'components/merchant/merch-nav/style.css' %}">
  {% block extra_head %}{% endblock %}
</head>
<body>
  {% block content %}
  {% endblock %}
  {% block extra_scripts %}{% endblock %}
</body>
</html>